@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
header{
	background: #3498db;
	z-index: 900;
}
header .logo a{
	font-size: 48px;
	font-weight: 900;
	color: #000;
	text-decoration: none;

}
.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-nav{}
.top-nav ul{
	list-style: none;
	margin-bottom: 0;
}
.top-nav ul li{

	display: inline;
}
.top-nav ul li a{
	font-size: 18px;
	color: #000;
	font-weight: 700;
	margin-left: 20px;
	text-decoration: none;
}
/*hero start*/
.hero-section{
	width: 100%;
	height: calc(100vh - 72px);	
}
.hero{
	/*background: #34495e;*/
	background: #f1c40f;
	height: calc(100vh - 72px);
}
.txt{
	color: #000;
	/*text-transform: uppercase;*/
	font-size: 55px;
	font-weight: 400;
	font-family: 'Lobster', cursive;
	
}
.txt{
	position: absolute;
	top: 210px;
	left: 25%;
	z-index: 100;
}
.cta{
	position: absolute;
	right: 75px;
	top: 55%;
	padding: 10px 25px;
	font-size: 18px;
}
.social-media{
	position: absolute;
	bottom: 15%;
	left: 25%;
	z-index: 100;

}
.social-media li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}
.social-media li a{
	color: #000;
	font-size: 35px;

}
.hero-right{
	background: #f1f1f1;
	z-index: -1;
}
.hero-right img{
	width: 300px;
	position: absolute;
	top: 90px;
	left: 200px;
	transform: rotate(33deg);

}
.grntd-add{
	position: absolute;
	bottom: 25%;
	right: 43%;
	z-index: 100;
	display: flex;
}
.grntd-add::before{
	content: '';
	width: 150px;
	height: 150px;
	background: linear-gradient(140deg, rgba(0,0,0,0.2) 10%, rgba(255,255,255,.5) 100%);
	border-radius: 50%;
	position: absolute;
	right: 0px;
	top: -40px;






/*background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
*/


}
.grntd-add img{
	height: 66px;
	margin-right: 14px;
}
.grntd-add p{
	margin-bottom: 0;
	line-height: 22px;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
}
.grntd-add p span:first-child{
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 2px;
}
.grntd-add p span.natur{
	font-size: 25px;
	font-weight: 400;
}